
.main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60vh;
    min-width: 400px;
    min-height: 300px;
    background-color: #E3E3E3;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.title {
    font-family: Roboto, sans-serif;
    margin: 10px 0 20px 0;
    color: #C60021;
    font-size: 2em;
    font-weight: bolder;
    padding: 0 0 0 20px;
}
